disable_protocols websocket xdr-streaming xhr-streaming iframe-eventsource iframe-htmlfile xdr-polling iframe-xhr-polling;

run_as shiny;

server {
  listen 8080;

  location / {
    site_dir /srv/shiny-server;
    
    log_dir /var/log/shiny-server;
    app_init_timeout 3600;
    app_idle_timeout 3600;
    
    directory_index off;
  }
}